@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --greenDark-900: #001C05;
    --greenDark-800: #002407;
    --greenDark-300: #00510F;
    --greenDark-50: #E6EEE7;

    --green-900: #2C4530;
    --green-700: #4B7653;
    --green-500: #649D6E;
    --green-50: #F2F9F3;

    --black-800: #464646;
    --black-400: #A4A4A4;
    --black-300: #BBBBBB;
    --black-100: #E8E8E8;
    --black-50: #F4F4F4;
    --black-0: #FFFFFF;

    --red-400: #FF4848;

    --blue-500: #4894FF;

    --yellow-300: #FFB050;
}

h1 {
    color: var(--black-800, #464646);
    /* font/titulo/1 */
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

h2 {
    color: var(--black-800, #464646);

    /* font/titulo/2 */
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 145.455% */
}

h3 {
    color: var(--black-800, #464646);

    /* font/titulo/3 */
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 145.455% */
}

h4 {
    color: var(--black-800, #464646);

    /* font/titulo/4 */
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

h5 {
    color: var(--black-800, #464646);

    /* font/titulo/5 */
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}