$greenDark900: #001C05;
$greenDark800: #002407;
$greenDark300: #00510F;
$greenDark50: #E6EEE7;

$green900: #2C4530;
$green700: #4B7653;
$green500: #649D6E;
$green50: #F2F9F3;

$black800: #464646;
$black400: #A4A4A4;
$black300: #BBBBBB;
$black100: #E8E8E8;
$black50: #F4F4F4;
$black0: #FFFFFF;
 
$red400: #FF4848;

$blue500: #4894FF;

$yellow300: #FFB050;

:export {
  greenDark900: $greenDark900;
  greenDark800: $greenDark800;
  greenDark300: $greenDark300;
  greenDark50: $greenDark50;
  green900: $green900;
  green700: $green700;
  green500: $green500;
  green50: $green50;
  black800: $black800;
  black400: $black400;
  black300: $black300;
  black100: $black100;
  black50: $black50;
  black0: $black0;  
  red400: $red400;
  blue500: $blue500;
  yellow300: $yellow300;
}